*{
	margin: 0;
	padding: 0;
}

body{
	background-color: floralwhite;
	color: indianred;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: indianred;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .50;
}

.text-center{ /* Menu name */
	color: black;
	font-size: 1.5em;
  	text-transform: uppercase;
}


.navbar{
border: none;
background-color: black;
color: whitesmoke;
margin-bottom: 5px;
}

.glyphicon{ /* Food Images */
	font-size: 30px;
	color: indianred; 
	padding-right: 5px;
}


#main-content{
	background-color: burlywood;
}


h2{
	text-align: center;
}

#collapsable-nav ul li a {
	color: indianred;
	text-align: center;
	margin-top: 2px;
	background-color: black;
}

.navbar-toggle{
	border: 2px solid white;
	background-color: dashed whitesmoke;
}

.navbar-brand{
font-size: 30px;	
}